.menu {
  position: absolute;
  top: calc(50% + 15px);
  width: 100%;
  text-align: center;
  font-size: 0.75em;
  color: var(--grey2);
  transform: translateY(-50%);
}

.menu_hidden {
  display: none;
}

span {
  color: var(--grey);
}